<ion-header>
  <ion-navbar>
    <ion-title>Login</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding on-swipe-left="onSwipeLeft()" on-swipe-right="onSwipeRight()">
  <h4>
    <div *ngIf="authenticated; else elseBlock">You are logged in as {{user}}</div>
    <ng-template #elseBlock>Please login</ng-template>
  </h4>
  <button ion-button color="primary" (click)='login()' block *ngIf="!authenticated">Login</button>
  <button ion-button color="primary" (click)='logout()' block *ngIf="authenticated">Logout</button>
  
  <div class="swiper-button-next" (click)="nextSlide()"></div>
          <div class="swiper-button-prev" (click)="prevSlide()"></div>
</ion-content>