page-login {
    body{
        overflow: visible !important;
        opacity: 1;
    }
    ion-content ion-fab-list[side=left] .fab-in-list, ion-fab-list[side=right] .fab-in-list {
        margin: 0 4px !important;
    }
    ion-content ion-fab-list[side=right] {
        margin: -4px 55px !important;
    }
    ion-content .fab {
        width: 35px !important;
        height: 35px !important;
    }
    
}
