<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>PaySlip</ion-title>

  </ion-navbar>
</ion-header>


<ion-content>


  <ion-card>
    <ion-card-header color="primary" text-center>
      <!-- {{ salary.ValidTo | date :'MMMM , yyyy'}} -->
      <div class="slides-container" style="margin-top:10px">
        <div class="swiper-wrapper">
          <ion-slides #slides style="height:40px" dir="rtl" (ionSlideDidChange)="slideChanged()">
            <ion-slide *ngFor="let period of periodList">
              <!-- <ion-item>
                <ion-datetime style="margin-right:30%" displayFormat="MMMM , YYYY" pickerFormat="MMMM YYYY"
                [(ngModel)]="period.month" (ionChange)="dateValue(period.month)" max="{{todayDate}}"></ion-datetime>
              </ion-item> -->
              {{period.month | date :'MMMM , yyyy'}}
              <div class="swiper-button-next" (click)="nextSlide()"></div>
              <div class="swiper-button-prev" (click)="prevSlide()"></div>
            </ion-slide>
          </ion-slides>
        </div>
      </div>
    </ion-card-header>
    <div *ngIf="isPayroll ; else noPayroll">
      <ion-card-content>
        <ion-item>
          <ion-label>Pay Element</ion-label>
          <ion-label text-right text-wrap>Amount ({{currency}})</ion-label>
        </ion-item>
        <hr>
        <ion-item *ngFor="let payslip of SalaryContract.PayrollList">
          <ion-label>{{payslip.PayElementCode}}</ion-label>
          <ion-label text-right text-wrap [ngClass]="{'positive': payslip.Amount > 0,'negetive' :  payslip.Amount < 0}">
            {{payslip.Amount | number : '1.2-2'}}
          </ion-label>
        </ion-item>
        <hr>
        <ion-item>
          <ion-label><b>Total Amount</b></ion-label>
          <ion-label text-right text-wrap><b> {{totalAmount | number : '1.2-2'}} </b></ion-label>
        </ion-item>

        <ion-item (click)="downloadPayslip()">
          <ion-label><u>Download as PDF</u></ion-label>
        </ion-item>
      </ion-card-content>
    </div>
    <ng-template #noPayroll>
      <div class="noData">
        No payroll for this period
      </div>
    </ng-template>
  </ion-card>
</ion-content>