<ion-header>
  <ion-toolbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Timesheets</ion-title>
    <ion-buttons end>
      <ion-fab top right edge>
        <button ion-fab mini (click)="newTimesheet()">
          <ion-icon name="add"></ion-icon>
        </button>
      </ion-fab>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles"
      refreshingText="Refreshing..." pullMin="400">
    </ion-refresher-content>
  </ion-refresher>
  <div class="slides-container" style="margin-top:10px">
    <div class="swiper-wrapper">
      <ion-slides #slides style="height:40px" dir="rtl" (ionSlideDidChange)="slideChanged()">
        <ion-slide class="slide-page-one tsNumber" *ngFor="let list of periodList">
          {{list.periodFrom | date:'mediumDate'}} - {{list.periodTo | date:'mediumDate'}}
          <div class="swiper-button-next" (click)="nextSlide()"></div>
          <div class="swiper-button-prev" (click)="prevSlide()"></div>
        </ion-slide>

      </ion-slides>
    </div>
  </div>
  <div>
    <ion-segment [(ngModel)]="status">
      <ion-segment-button value="all">All</ion-segment-button>
      <ion-segment-button value="draft">Draft</ion-segment-button>
      <ion-segment-button value="approved">Approved</ion-segment-button>
      <ion-segment-button value="returned">Returned</ion-segment-button>
    </ion-segment>
  </div>
  <div *ngIf="showDetails; else noTs">
    <div *ngFor="let details of tsTableContact,let i=index">
      <div *ngIf="details.IsDeleted==0">
        <div [ngSwitch]="status">
          <ion-list *ngSwitchCase="'all'">
            <ion-item>
              <ion-label text-right>
                <button ion-button outline (click)="modalPage(details,details.TimesheetLineList,details.IsEditable,i)">
                  {{details.ApprovalStatus}}
                </button>
              </ion-label>
              <ion-label item-left>
                <p class="tsNumber">
                  {{details.TimesheetNumber}}
                  <ion-fab small class="addLine">
                    <button ion-fab mini color="primary">
                      <ion-icon name="arrow-dropright"></ion-icon>
                    </button>
                    <ion-fab-list side="right">
                      <button ion-fab [disabled]="!details.IsEditable" (click)="newTsLine(details,i)" color="primary">
                        <ion-icon name="add"></ion-icon>
                      </button>
                      <button ion-fab [disabled]="!details.IsEditable" (click)="DeleteHeader(details,i)" color="danger">
                        <ion-icon name="trash"></ion-icon>
                      </button>
                      <button ion-fab [disabled]="!details.IsEditable" (click)="submitTs(details,i)" color="secondary">
                        <ion-icon name="checkmark-circle"></ion-icon>
                      </button>
                    </ion-fab-list>
                  </ion-fab>
                </p>

                <div *ngFor="let lineList of details.TimesheetLineList">
                  <div *ngIf="lineList.IsDeleted==0">
                    <ion-item-sliding (ionSwipe)="deleteTs(lineList,details,i)">
                      <ion-item no-padding text-wrap (click)="modalPage(details,details.TimesheetLineList,details.IsEditable,i)">
                        <p text-wrap class="projName">{{lineList.ProjName}}</p>
                        <p>Hours : {{lineList.TotalHrs}}</p>
                      </ion-item>
                      <ion-item-options side="right">
                        <button ion-button color="danger" [disabled]="!details.IsEditable" (click)="deleteTs(lineList,details,i)">
                          <ion-icon name="trash"></ion-icon>
                        </button>
                      </ion-item-options>
                    </ion-item-sliding>
                  </div>
                </div>
              </ion-label>
            </ion-item>
          </ion-list>
          <!-- FOR DRAFT STATUS -->
          <ion-list *ngSwitchCase="'draft'">
            <ion-item *ngIf="details.ApprovalStatus=='Draft'">
              <ion-label text-right>
                <button ion-button outline (click)="modalPage(details,details.TimesheetLineList,details.IsEditable,i)">
                  {{details.ApprovalStatus}}
                </button>
              </ion-label>
              <ion-label item-left>
                <p class="tsNumber">
                  {{details.TimesheetNumber}}
                  <ion-fab small class="addLine">
                    <button ion-fab mini color="primary">
                      <ion-icon name="arrow-dropright"></ion-icon>
                    </button>
                    <ion-fab-list side="right">
                      <button ion-fab [disabled]="!details.IsEditable" (click)="newTsLine(details,i)" color="primary">
                        <ion-icon name="add"></ion-icon>
                      </button>
                      <button ion-fab [disabled]="!details.IsEditable" (click)="DeleteHeader(details,i)" color="danger">
                        <ion-icon name="trash"></ion-icon>
                      </button>
                      <button ion-fab [disabled]="!details.IsEditable" (click)="submitTs(details,i)" color="secondary">
                        <ion-icon name="checkmark-circle"></ion-icon>
                      </button>
                    </ion-fab-list>
                  </ion-fab>
                </p>

                <div *ngFor="let lineList of details.TimesheetLineList">
                  <div *ngIf="lineList.IsDeleted==0">
                    <ion-item-sliding (ionSwipe)="deleteTs(lineList,details,i)">
                      <ion-item no-padding text-wrap (click)="modalPage(details,details.TimesheetLineList,details.IsEditable,i)">
                        <p text-wrap class="projName">{{lineList.ProjName}}</p>
                        <p>Hours : {{lineList.TotalHrs}}</p>
                      </ion-item>
                      <ion-item-options side="right">
                        <button ion-button color="danger" [disabled]="!details.IsEditable" (click)="deleteTs(lineList,details,i)">
                          <ion-icon name="trash"></ion-icon>
                        </button>
                      </ion-item-options>
                    </ion-item-sliding>
                  </div>
                </div>
              </ion-label>
            </ion-item>
          </ion-list>
          <!-- FOR APPROVED STATUS -->
          <ion-list *ngSwitchCase="'approved'">
            <ion-item *ngIf="details.ApprovalStatus=='Approved'">
              <ion-label text-right>
                <button ion-button outline (click)="modalPage(details,details.TimesheetLineList,details.IsEditable,i)">
                  {{details.ApprovalStatus}}
                </button>
              </ion-label>
              <ion-label item-left>
                <p class="tsNumber">
                  {{details.TimesheetNumber}}
                  <ion-fab small class="addLine">
                    <button ion-fab mini color="primary">
                      <ion-icon name="arrow-dropright"></ion-icon>
                    </button>
                    <ion-fab-list side="right">
                      <button ion-fab [disabled]="!details.IsEditable" (click)="newTsLine(details,i)" color="primary">
                        <ion-icon name="add"></ion-icon>
                      </button>
                      <button ion-fab [disabled]="!details.IsEditable" (click)="DeleteHeader(details,i)" color="danger">
                        <ion-icon name="trash"></ion-icon>
                      </button>
                      <button ion-fab [disabled]="!details.IsEditable" (click)="submitTs(details,i)" color="secondary">
                        <ion-icon name="checkmark-circle"></ion-icon>
                      </button>
                    </ion-fab-list>
                  </ion-fab>
                </p>

                <div *ngFor="let lineList of details.TimesheetLineList">
                  <div *ngIf="lineList.IsDeleted==0">
                    <ion-item-sliding (ionSwipe)="deleteTs(lineList,details,i)">
                      <ion-item no-padding text-wrap (click)="modalPage(details,details.TimesheetLineList,details.IsEditable,i)">
                        <p text-wrap class="projName">{{lineList.ProjName}}</p>
                        <p>Hours : {{lineList.TotalHrs}}</p>
                      </ion-item>
                      <ion-item-options side="right">
                        <button ion-button color="danger" [disabled]="!details.IsEditable" (click)="deleteTs(lineList,details,i)">
                          <ion-icon name="trash"></ion-icon>
                        </button>
                      </ion-item-options>
                    </ion-item-sliding>
                  </div>
                </div>
              </ion-label>
            </ion-item>
          </ion-list>
          <!-- FOR REJECTED STATUS-->
          <ion-list *ngSwitchCase="'returned'">
            <ion-item *ngIf="details.ApprovalStatus=='Returned'">
              <ion-label text-right>
                <button ion-button outline (click)="modalPage(details,details.TimesheetLineList,details.IsEditable,i)">
                  {{details.ApprovalStatus}}
                </button>
              </ion-label>
              <ion-label item-left>
                <p class="tsNumber">
                  {{details.TimesheetNumber}}
                  <ion-fab small class="addLine">
                    <button ion-fab mini color="primary">
                      <ion-icon name="arrow-dropright"></ion-icon>
                    </button>
                    <ion-fab-list side="right">
                      <button ion-fab [disabled]="!details.IsEditable" (click)="newTsLine(details,i)" color="primary">
                        <ion-icon name="add"></ion-icon>
                      </button>
                      <button ion-fab [disabled]="!details.IsEditable" (click)="DeleteHeader(details,i)" color="danger">
                        <ion-icon name="trash"></ion-icon>
                      </button>
                      <button ion-fab [disabled]="!details.IsEditable" (click)="submitTs(details,i)" color="secondary">
                        <ion-icon name="checkmark-circle"></ion-icon>
                      </button>
                    </ion-fab-list>
                  </ion-fab>
                </p>

                <div *ngFor="let lineList of details.TimesheetLineList">
                  <div *ngIf="lineList.IsDeleted==0">
                    <ion-item-sliding (ionSwipe)="deleteTs(lineList,details,i)">
                      <ion-item no-padding text-wrap (click)="modalPage(details,details.TimesheetLineList,details.IsEditable,i)">
                        <p text-wrap class="projName">{{lineList.ProjName}}</p>
                        <p>Hours : {{lineList.TotalHrs}}</p>
                      </ion-item>
                      <ion-item-options side="right">
                        <button ion-button color="danger" [disabled]="!details.IsEditable" (click)="deleteTs(lineList,details,i)">
                          <ion-icon name="trash"></ion-icon>
                        </button>
                      </ion-item-options>
                    </ion-item-sliding>
                  </div>
                </div>
              </ion-label>
            </ion-item>
          </ion-list>
        </div>
      </div>
    </div>
  </div>

  <ng-template #noTs>
    <div class="noTs">
      No Timesheet Available
    </div>
  </ng-template>
</ion-content>