<ion-header>
  <ion-toolbar color="primary">
    <button ion-button menuToggle><ion-icon name="menu"></ion-icon></button>
    <ion-title>Period Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="showDetails">
    <ion-card *ngFor="let details of TimesheetTableContact">
      <ion-card-header>
        {{details.PeriodFrom | date:'mediumDate'}} - {{details.PeriodTo | date:'mediumDate'}}
      </ion-card-header>
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col>{{details.TimesheetNumber}}</ion-col>
            <ion-col>{{details.ApprovalStatus}}</ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
      <page-timesheet-day [tsDetails]="TimesheetTableContact"></page-timesheet-day>
      <ng-template #viewContainerRef></ng-template>
    </ion-card>
    <button ion-button block color="secondary" (click)="send()">New Line</button>
  </div>

  <ion-fab right bottom>
    <button ion-fab color="primary" mini>
      <ion-icon name="arrow-dropleft"></ion-icon>
    </button>
    <ion-fab-list side="left">
      <button ion-fab (click)="redirect()" mini>
        <ion-icon name="add"></ion-icon>
      </button>
      <button ion-fab>
        <ion-icon name="ios-create" mini></ion-icon>
      </button>
      <button ion-fab>
        <ion-icon name="ios-folder" mini></ion-icon>
      </button>
    </ion-fab-list>
  </ion-fab>

</ion-content>