page-timesheet-view1 {
   
    .card .list .item {
        border-bottom: 1px solid #d4d2d2;
    }
    .grid{
        margin-left: 20px
    }
    .scroll-bar-indicator{
	    display: none;
    }
    .tsNumber{
        font-family: Segoe UI,Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif; 
        font-size: 16pt;
        color:  #0A6ACC;
        font-weight: 400;
        font-style: normal;
        text-align: left;
    }
    .noTs{
        font-family: Segoe UI,Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif; 
        font-size: 13pt;
        color: rgb(47, 41, 43);
        font-weight: 600;
        font-style: normal;
        text-align: left;
        padding: 5px;
        line-height: 1.2;
        overflow-y: hidden;
    }
    .addLine{
        margin-top: -10px;
    }
    .fabButton{
        position:absolute;
        z-index: 1;
    }
    .tsPeriod{
        color: #0A6ACC;
    }
    .sliderNavigation{
        height:15px;
        margin-top: 0px;
    }
    ion-content ion-fab-list[side=left] .fab-in-list, ion-fab-list[side=right] .fab-in-list {
        margin: 0 4px !important;
    }
    ion-content ion-fab-list[side=right] {
        margin: -4px 55px !important;
    }
    ion-content .fab {
        width: 35px !important;
        height: 35px !important;
    }
    .projName{
        font-weight: 500;
    }
    button:disabled {
        opacity: .4 !important;
    }
}
