<ion-header>
  <ion-toolbar>
    <ion-buttons left>
      <button ion-button icon-only (click)="goBack()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title>Add Leave</ion-title>

    <ion-buttons end>
      <ion-fab top right edge>
        <button ion-fab mini icon-only color="primary" (click)="showConfirm()" [disabled]="!isEditable">
          <ion-icon name="document"></ion-icon>
        </button>
      </ion-fab>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>

    <ion-item>
      <ion-label color="dark">Leave Type</ion-label>
      <ion-select [(ngModel)]="leaveLine.AbsenceCode" interface="action-sheet" (ionChange)="selectedLeaveCode(leaveLine.AbsenceCode)">
        <ion-option *ngFor="let leave of leaveBalance" value="{{leave.Code}}">{{leave.Description}}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label color="dark">From</ion-label>
      <ion-datetime placeholder="Select Start Date" displayFormat="DDD DD MMM , YYYY" [(ngModel)]="leaveLine.ValidFrom"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label color="dark">To</ion-label>
      <ion-datetime placeholder="Select End Date" displayFormat="DDD DD MMM , YYYY" [(ngModel)]="leaveLine.ValidTo" min="{{leaveLine.ValidFrom}}"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label color="dark">Balance</ion-label>
      <ion-label text-right *ngIf="balance!=null">{{balance}} </ion-label>
    </ion-item>

    <ion-item onclick="document.getElementById('id01').style.display='block'">
      <ion-label color="dark">Comments</ion-label>
      <ion-label>{{leaveLine.Remarks}}</ion-label>
    </ion-item>

    <ion-item *ngIf="leaveLine.ValidFrom == leaveLine.ValidTo && leaveLine.ValidFrom !== undefined">
      <ion-label color="dark">Hours</ion-label>
      <ion-input type="number" [min]="0" [max]="24" [(ngModel)]="leaveLine.hours"></ion-input>
    </ion-item>
  </ion-list>

  <div class="w3-container">
    <div id="id01" class="w3-modal">
      <div class="w3-modal-content">
        <header class="w3-container w3-light-grey">
          <span onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-display-topright">&times;</span>
          <h2>Comments</h2>
        </header>
        <div class="w3-container" style="height:300px;">
          <ion-item>
            <ion-label color="inputLabelColor" floating>Comments</ion-label>
            <ion-textarea [(ngModel)]="leaveLine.Remarks"></ion-textarea>
          </ion-item>
        </div>
      </div>
    </div>
  </div>
</ion-content>