<ion-header>
  <ion-toolbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Profile</ion-title>

    <ion-buttons end *ngIf="!authenticated">
      <ion-fab top right edge>
        <button ion-fab mini (click)="login()" color="primary">
          <ion-icon name="power"></ion-icon>
        </button>
      </ion-fab>
    </ion-buttons>


  </ion-toolbar>
</ion-header>


<ion-content>
  <div *ngIf="authenticated ; else loginMsgBlock">
    <ion-list *ngFor="let emp of worker">
      <div sticky>
        <ion-card class="headerCard" color="primary">
          <div style="margin-left:40%">
            <img style="height:80px;width:80px;margin-top: 10px" [src]="getImageStr()" />
          </div>
          <ion-card-content>
            <h2>{{emp.Name}}</h2>
            <p>{{emp.Phone}}</p>
            <p>{{emp.Email}}</p>
          </ion-card-content>
        </ion-card>
      </div>
      <!-- JOB DETAILS -->
      <ion-card class="cardInfo" (click)="toggleCard(toggleDetails.job)">
        <ion-card-header color="primary" text-center>
          Job Details
          <ion-icon float-right name="{{toggleDetails.job.icon}}"></ion-icon>
        </ion-card-header>
        <ion-card-content *ngIf="toggleDetails.job.value">
          <ion-list>
            <ion-item>
              <ion-label>Employee Id</ion-label>
              <ion-label text-left>{{emp.EmpId}}</ion-label>
            </ion-item>

            <ion-item>
              <ion-label>Job Title</ion-label>
              <ion-label text-left>{{emp.JobTitle}}</ion-label>
            </ion-item>

            <ion-item>
              <ion-label>Department</ion-label>
              <ion-label text-left>{{emp.DepartmentName}}</ion-label>
            </ion-item>

            <ion-item>
              <ion-label>Reporting Mgr</ion-label>
              <ion-label text-left text-wrap>{{emp.ReportingManager}}</ion-label>
            </ion-item>

            <ion-item>
              <ion-label>Joining Date</ion-label>
              <ion-label text-left>{{emp.JoiningDate | date:'mediumDate'}}</ion-label>
            </ion-item>

          </ion-list>
        </ion-card-content>
      </ion-card>

      <!-- Address Details -->
      <ion-card class="cardInfo" (click)="toggleCard(toggleDetails.address)">
        <ion-card-header color="primary" text-center>
          Address Details
          <ion-icon float-right name="{{toggleDetails.address.icon}}"></ion-icon>
        </ion-card-header>
        <ion-card-content *ngIf="toggleDetails.address.value">
          <ion-list>
            <ion-item>
              <ion-label>Address</ion-label>
              <ion-label text-left text-wrap>{{emp.Address}}</ion-label>
            </ion-item>

          </ion-list>
        </ion-card-content>
      </ion-card>

      <!-- Personal Details -->
      <ion-card class="cardInfo" (click)="toggleCard(toggleDetails.personal)">
        <ion-card-header color="primary" text-center>
          Personal Details
          <ion-icon float-right name="{{toggleDetails.personal.icon}}"></ion-icon>
        </ion-card-header>
        <ion-card-content *ngIf="toggleDetails.personal.value">
          <ion-list>
            <ion-item>
              <ion-label>Date of Birth</ion-label>
              <ion-label text-left text-wrap>{{emp.DateOfBirth | date:'mediumDate'}}</ion-label>
            </ion-item>

            <ion-item>
              <ion-label>Gender</ion-label>
              <ion-label text-left text-wrap>{{emp.Gender}}</ion-label>
            </ion-item>

            <ion-item>
              <ion-label>Blood Group</ion-label>
              <ion-label text-left text-wrap>{{emp.BloodGroup}}</ion-label>
            </ion-item>

            <ion-item>
              <ion-label>Marital Status</ion-label>
              <ion-label text-left text-wrap>{{emp.MaritalStatus}}</ion-label>
            </ion-item>

            <ion-item>
              <ion-label>Anniversary Date</ion-label>
              <ion-label text-left text-wrap>{{emp.AnniversaryDate | date:'mediumDate'}}</ion-label>
            </ion-item>

            <ion-item>
              <ion-label>Religion</ion-label>
              <ion-label text-left text-wrap>{{emp.Religion}}</ion-label>
            </ion-item>

            <ion-item>
              <ion-label>Nationality</ion-label>
              <ion-label text-left text-wrap>{{emp.Nationality}}</ion-label>
            </ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>

      <!-- Document Details -->
      <ion-card class="cardInfo" (click)="toggleCard(toggleDetails.document)">
        <ion-card-header color="primary" text-center>
          Document Details
          <ion-icon float-right name="{{toggleDetails.document.icon}}"></ion-icon>
        </ion-card-header>
        <ion-card-content *ngIf="toggleDetails.document.value">
          <ion-list>

            <ion-item>
              <ion-label>Passport No</ion-label>
              <ion-label text-left text-wrap>{{emp.PassportNo}}</ion-label>
            </ion-item>

            <ion-item>
              <ion-label>Issue Date</ion-label>
              <ion-label text-left text-wrap>{{emp.PassportIssueDate | date:'mediumDate'}}</ion-label>
            </ion-item>

            <ion-item>
              <ion-label>Expiry Date</ion-label>
              <ion-label text-left text-wrap>{{emp.PassportExpiry | date:'mediumDate'}}</ion-label>
            </ion-item>

            <ion-item>
              <ion-label>Civil Id</ion-label>
              <ion-label text-left text-wrap>{{emp.CivilId}}</ion-label>
            </ion-item>

            <ion-item>
              <ion-label>Civil Id Expiry</ion-label>
              <ion-label text-left text-wrap>{{emp.CivilIdExpiry | date:'mediumDate'}}</ion-label>
            </ion-item>

            <ion-item>
              <ion-label>Visa No</ion-label>
              <ion-label text-left text-wrap>{{emp.VisaNo}}</ion-label>
            </ion-item>

            <ion-item>
              <ion-label>Visa Expiry</ion-label>
              <ion-label text-left text-wrap>{{emp.VisaExpiry | date:'mediumDate'}}</ion-label>
            </ion-item>

          </ion-list>
        </ion-card-content>
      </ion-card>

      <!-- Leave Balance Details -->
      <ion-card class="cardInfo" (click)="toggleCard(toggleDetails.leave)">
        <ion-card-header color="primary" text-center>
          Leave Balance Details
          <ion-icon float-right name="{{toggleDetails.leave.icon}}"></ion-icon>
        </ion-card-header>
        <ion-card-content *ngIf="toggleDetails.leave.value">
          <ion-list >
            <ion-item *ngFor="let leave of leaveBalance">
              <ion-label text-wrap>{{leave.Description}}</ion-label>
              <ion-label text-right text-wrap>{{leave.Balance | number : '1.2-2'}}</ion-label>
            </ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>
    </ion-list>
  </div>
  <ng-template #loginMsgBlock>
    <div class="noData">
      Please Login First
    </div>
  </ng-template>
</ion-content>