page-leave-view2 {
    h3{
        color: #488aff
    }
    ion-input {
        input {
          text-align: right;
            ::-webkit-input-placeholder {
            text-align: right;
          }
        }
      }
}
