<ion-header>
  <ion-toolbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Leave Application</ion-title>
    <ion-buttons end>
      <ion-fab top right edge>
        <button ion-fab mini (click)="newTimesheet()">
          <ion-icon name="add"></ion-icon>
        </button>
      </ion-fab>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h2 text-center></h2>
  <div>
    <ion-segment [(ngModel)]="status">
      <ion-segment-button value="all">All</ion-segment-button>
      <ion-segment-button value="draft">Draft</ion-segment-button>
      <ion-segment-button value="approved">Approved</ion-segment-button>
      <ion-segment-button value="rejected">Rejected</ion-segment-button>
    </ion-segment>
  </div>

  <div *ngFor="let leaveDetails of leaveApp">
    <div *ngIf="!leaveDetails.IsDeleted">
      <div [ngSwitch]="status">
        <ion-list *ngSwitchCase="'all'">
          <ion-item-sliding>
            <ion-item>
              <div *ngFor="let leaveLine of leaveDetails.ApplicationLine">
                <p class="tsNumber">
                  {{leaveLine.AbsenceCodeDescription}}
                  <button float-right ion-button outline>{{leaveDetails.Status}}</button>
                </p>
                <p>Leave Days : {{leaveLine.LeaveDays}}</p>
                <p>{{leaveLine.ValidFrom | date:'E, LLL d yyyy'}} - {{leaveLine.ValidTo | date:'E, LLL d yyyy'}}</p>
              </div>
            </ion-item>
            <ion-item-options side="right">
              <button ion-button color="danger" [disabled]="!leaveDetails.IsEditable" (click)="deleteLeave()">
                <ion-icon name="trash"></ion-icon>
              </button>
              <button ion-button color="secondary" [disabled]="!leaveDetails.IsEditable" (click)="submitLeave()">
                <ion-icon name="checkmark-circle"></ion-icon>
              </button>
            </ion-item-options>
          </ion-item-sliding>
        </ion-list>
        <!-- FOR DRAFT STATUS -->
        <ion-list *ngSwitchCase="'draft'">
          <ion-item *ngIf="leaveDetails.Status=='Draft'">

          </ion-item>
        </ion-list>
        <!-- FOR APPROVED STATUS -->
        <ion-list *ngSwitchCase="'approved'">
          <ion-item *ngIf="leaveDetails.Status=='Approved'">

          </ion-item>
        </ion-list>
        <!-- FOR REJECTED STATUS-->
        <ion-list *ngSwitchCase="'returned'">
          <ion-item *ngIf="leaveDetails.Status=='Returned'">

          </ion-item>
        </ion-list>
      </div>
    </div>
  </div>
</ion-content>